<div class="form-container">
  <h6>Job Order Management</h6>

  <form [formGroup]="searchForm">
    <!-- First Row -->
    <div class="form-row">
      <mat-form-field>
        <mat-label>Job ID</mat-label>
        <input matInput formControlName="jobId" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Client Name</mat-label>
        <mat-select formControlName="clientName">
          <mat-option *ngFor="let client of clients" [value]="client.clientName">
            {{ client.clientName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Second Row -->
    <div class="form-row">
      <mat-form-field>
        <mat-label>Job Start Date From</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="jobStartDateFrom" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Job Start Date To</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="jobStartDateTo" />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Job End Date From</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="jobEndDateFrom" />
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Job End Date To</mat-label>
        <input matInput [matDatepicker]="picker4" formControlName="jobEndDateTo" />
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Third Row -->
    <div class="form-row">
      <mat-form-field>
        <mat-label>Job Owner</mat-label>
        <mat-select formControlName="jobOwner">
          <mat-option *ngFor="let employee of employees" [value]="employee.firstName + ' ' + employee.lastName">
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Delivery Lead</mat-label>
        <mat-select formControlName="deliveryLead">
          <mat-option *ngFor="let employee of employees" [value]="employee.firstName + ' ' + employee.lastName">
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Button Container -->
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="createJobOrder()">
        CREATE JOB ORDER
      </button>
      <button mat-raised-button color="primary" (click)="searchRecords()">
        SEARCH
      </button>
      <button mat-raised-button color="primary-reset" (click)="reset()">RESET</button>
    </div>
  </form>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Job ID Column -->
    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef>Job ID</th>
      <td mat-cell *matCellDef="let element">{{ element.jobId }}</td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef>Client Name</th>
      <td mat-cell *matCellDef="let element">{{ element.clientName }}</td>
    </ng-container>

    <!-- Job Title/Role Column -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef>Job Title/Role</th>
      <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
    </ng-container>

    <!-- Work Location Country Column -->
    <ng-container matColumnDef="workLocationCountry">
      <th mat-header-cell *matHeaderCellDef>Work Location Country</th>
      <td mat-cell *matCellDef="let element">{{ element.workLocationCountry }}</td>
    </ng-container>

    <!-- No. of Positions Column -->
    <ng-container matColumnDef="numberOfPositions">
      <th mat-header-cell *matHeaderCellDef>No. of Positions</th>
      <td mat-cell *matCellDef="let element">{{ element.numberOfPositions || 0 }}</td>
    </ng-container>

    <!-- No of Selection Column -->
    <ng-container matColumnDef="numberOfSelections">
      <th mat-header-cell *matHeaderCellDef>No of Selection</th>
      <td mat-cell *matCellDef="let element">{{ element.numberOfSelections || 0 }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status || 'New' }}</td>
    </ng-container>

    <!-- Job Start Date Column -->
    <ng-container matColumnDef="jobStartDate">
      <th mat-header-cell *matHeaderCellDef>Job Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobStartDate | date : 'mediumDate' }}
      </td>
    </ng-container>

    <!-- Job End Date Column -->
    <ng-container matColumnDef="jobEndDate">
      <th mat-header-cell *matHeaderCellDef>Job End Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.jobEndDate | date : 'mediumDate' }}
      </td>
    </ng-container>

    <!-- Job Aging Column -->
    <ng-container matColumnDef="jobAging">
      <th mat-header-cell *matHeaderCellDef>Job Aging (Days Open)</th>
      <td mat-cell *matCellDef="let element">{{ element.jobAging || 0 }} days</td>
    </ng-container>

    <!-- Job Owner Column -->
    <ng-container matColumnDef="jobOwner">
      <th mat-header-cell *matHeaderCellDef>Job Owner</th>
      <td mat-cell *matCellDef="let element">{{ element.jobOwner }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          color="primary"
          (click)="viewJobOrder(element)"
          title="View"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-button
          color="accent"
          (click)="editJobOrder(element)"
          title="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-button
          color="warn"
          (click)="deleteJobOrder(element)"
          title="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>

