<mat-card class="profile-card">
  <div class="profile-header">
   
    <div class="profile-info">
      <mat-card-title>{{ accountDetails?.userdetails?.name }}</mat-card-title>
      <mat-card-subtitle>{{ accountDetails?.userdetails?.role }} | {{ accountDetails?.userdetails?.username }}</mat-card-subtitle>
    </div>
  </div>

  <!-- Optionally, add more sections like "Edit Profile" button or other details here -->
  <!-- <div class="profile-actions">
    <button mat-raised-button color="primary" (click)="editProfile()">Edit Profile</button>
  </div> -->
</mat-card>
