<div class="container">
    <h6>User-Client</h6>
    <form [formGroup]="userClientForm" (ngSubmit)="saveUserClient()" class="form">
      <!-- User Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>User</mat-label>
        <mat-select formControlName="users">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.username }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userClientForm.get('users')?.hasError('required')">
          User is required
        </mat-error>
      </mat-form-field>
  
      <!-- Client Field -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Client</mat-label>
        <mat-select formControlName="clients">
          <mat-option *ngFor="let client of clients" [value]="client.id">
            {{ client.clientName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userClientForm.get('clients')?.hasError('required')">
          Client is required
        </mat-error>
      </mat-form-field>
  
      <!-- Button Group -->
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="!userClientForm.valid">
          {{ selectedIndex !== null ? 'Update' : 'Save' }}
        </button>
        <button mat-button color="warn" type="button" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  
    <!-- User-Client Table -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 saved-table">
        <!-- User Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let element">{{ element?.user?.firstName + " " + element?.user?.lastName }}</td>
        </ng-container>
  
        <!-- Client Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Client</th>
          <td mat-cell *matCellDef="let element">{{ element.client.clientName }}</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-button color="accent" (click)="editUserClient(i)">Edit</button>
          </td>
        </ng-container>
  
        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>